<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Parametric Calculator</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="content-container">
    <div class="content">
      <h2>Configuration</h2>
      <form method="POST" class="pure-form" name='configuration' id="configuration" enctype="multipart/form-data"
        action="{{ url_for('calculator') }}">
        <!-- FRAME -->
        <fieldset>
          <label for="input_frame">None</label><br>
          <input type="text" id="input_frame" name="input_frame"><br>
        </fieldset>

        <!-- FRONT FILM OUTER -->
        <fieldset>
          <label for="input_front_film">Anti-reflective</label><br>
          <input type="text" id="input_front_film" name="inpinput_front_filmut_frame"><br>
        </fieldset>

        <!-- FRONT COVER -->
        <fieldset>
          <label for="input_front_cover">4mm Solar Glass</label><br>
          <input type="text" id="input_front_cover" name="input_front_cover"><br>
        
        </fieldset>

        <!-- FRONT FILM INNER -->
        <fieldset>
          <label for="input_front_inner_film">Red tint</label><br>
          <input type="text" id="input_front_inner_film" name="input_front_inner_film"><br>
        
        </fieldset>

        <!-- FRTON ENCAPSULANT -->
        <fieldset>
          <label for="input_front_encapsulant">Standard EVA</label><br>
          <input type="text" id="input_front_encapsulant" name="input_front_encapsulant"><br>
        
        </fieldset>

        <!-- CELL -->
        <fieldset>
          <label for="input_cell">CdTe</label><br>
          <input type="text" id="input_cell" name="input_cell"><br>
        
        </fieldset>

        <!-- REAR ENCAPSULANT -->
        <fieldset>
          <label for="input_rear_encapsulant">Standard EVA</label><br>
          <input type="text" id="input_rear_encapsulant" name="input_rear_encapsulant"><br>
        
        </fieldset>

        <!-- REAR INNER FILM -->
        <fieldset>
          <label for="input_rear_inner_film">None</label><br>
          <input type="text" id="input_rear_inner_film" name="input_rear_inner_film"><br>
        
        </fieldset>

        <!-- REAR COVER -->
        <fieldset>
          <label for="input_rear_cover">4mm Structural Glass</label><br>
          <input type="text" id="input_rear_cover" name="input_rear_cover"><br>
        
        </fieldset>

        <!-- REAR OUTER FILM -->
        <fieldset>
          <label for="input_rear_outer_film">None</label><br>
          <input type="text" id="input_rear_outer_film" name="input_rear_outer_film"><br>
        
        </fieldset>

        <!-- MOUNTING SYSTEM -->
        <fieldset>
          <label for="input_mounting">Aluminium</label><br>
          <input type="text" id="input_mounting" name="input_mounting"><br>
        
        </fieldset>

        <!-- JUNCTION BOX -->
        <fieldset>
          <label for="input_junction_box">Standard</label><br>
          <input type="text" id="input_junction_box" name="input_junction_box"><br>
        
        </fieldset>

        <!-- INVERTER -->
        <fieldset>
          <label for="input_inverter">Micro-inverter</label><br>
          <input type="text" id="input_inverter" name="input_inverter"><br>
        
        </fieldset>
        <button id="submit-form" type="button">Submit</button>
        <input type="reset" id="reset-input" name="reset-input">
        <div class="loader-container">
          <div class="loader"></div>
        </div>
      </form>


      <p id="temp-output"></p>
      <div class="morph-body one">
        <a class="morph-output-download" id="exec-get-results" href="/download-morph-results" download
          target="_blank">Download Results ></a>
      </div>
    </div>
  </div>

  </div>
  </div>


  {% endblock %}
</body>

<footer>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript" src="../jszip.js"></script>
  <script src="{{ url_for('static',     filename='scripts/scripts.js') }}"></script>
</footer>

</html>