<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parametric LCA</title>
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/app-style.css') }}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/loaders/GLTFLoader.js"></script>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}
  <div id="app-container">
    <div id="configuration-container" class="chart-container">
      <div id="configuration-controls">
        <div id="bipv-type-selection" class="configuration-primary-dropdown-container">
          <label for="moduleType">Module Type:</label>
          <select id="moduleType" name="moduleType">
            <option value="monocrystalline">Monocrystalline</option>
            <option value="organic">Organic PV</option>
            <option value="perovskite">Perovskite Silicon</option>
            <option value="polycrystalline">Polycrystalline</option>
            <option value="cdte">CdTe</option>
            <option value="cigs">CIGS</option>
          </select>

        </div>
        <div id="bipv-layers-selection" class="configuration-secondary-dropdown-container">
          <div id="layer-selects-container">
            <!-- Dynamic <select> elements for each layer will be appended here by JavaScript -->
          </div>
        </div>
      </div>
      <div id="bipv-model-container">
        <div id="solar-panel-model">
        </div>
      </div>
    </div>
    <div id="curve-container" class="chart-container">
      <div class="curve-control-panel">
        <label for="curve-slider">Self Consumption:</label>
        <input type="range" id="curve-slider" name="curve-slider" min="0.05" max="0.95" step="0.05">
        <output id="curve-slider-value">0.50</output>
      </div>
      <div class="curve-chart" id="pv-curve"></div>
    </div>
    <div id="pie-container" class="chart-container">
      <div id="pie-chart-column">
        <div class="pie-row">
          <div class="pie-chart" id="chart1-1"></div>
          <div class="pie-chart" id="chart1-2"></div>
          <div class="pie-chart" id="chart1-3"></div>
          <div class="pie-chart" id="chart1-4"></div>
          <div class="pie-chart" id="chart1-5"></div>
          <div class="pie-chart" id="chart1-6"></div>
          <div class="pie-chart" id="chart1-7"></div>
        </div>
        <div class="pie-row">
          <div class="pie-chart" id="chart2-1"></div>
          <div class="pie-chart" id="chart2-2"></div>
          <div class="pie-chart" id="chart2-3"></div>
          <div class="pie-chart" id="chart2-4"></div>
          <div class="pie-chart" id="chart2-5"></div>
          <div class="pie-chart" id="chart2-6"></div>
          <div class="pie-chart" id="chart2-7"></div>
        </div>
      </div>
      <div id="pie-legend-column">
        <div id="pie-loading" onclick="createPieCharts();createLineChart();">
          <button id="load-pie-charts"> RELOAD </button>

        </div>
        <div id="pie-legends">
        </div>
      </div>

    </div>
  </div>
  {% endblock %}
</body>

<footer>
  
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <!-- <script type="text/javascript" src="../jszip.js"></script>
  <script src="{{ url_for('static',     filename='scripts/scripts.js') }}"></script> -->
</footer>

</html>